<div id="yui-main">
    <div class="yui-g">
        <h1 class="accroche">Création d'une Catégorie d'Action</h1>
    </div>
    
    <div class="yui-gc">
        <div class="yui-u first">
            <%= render :partial => 'form' %>
        </div>
        <div class="yui-u">
            <%= render :partial => 'shared/edition' %>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    
</div>
