              <table>
                  <tr>
                      <td><%= f.label :body, "Contenu" %></td>
                      <td><%= f.text_area :body, :cols => 60, :rows => 15 %></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><%= submit_tag "Enregistrer" %></td>
                  </tr>
              </table>