<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1 class="accroche">Modifier un Lien</h1>
        </div>
        
        <div class="yui-g">
            <%= error_messages_for :lien %>
            <% form_for @lien do |f| -%>
                <%= render :partial => 'form', :locals => {:f => f} %>
            <% end -%>
        </div>
        
        <div class="yui-g">
            <%= link_to "Retour", liens_path() %>
        </div>
    </div>
</div>

<div class="yui-b">
    <%= render :partial => "shared/login" %>
</div>