body {
	color: #5c5c5c;
}

/* @group Header */

div#hd {
	height: 120px;
	background-color: transparent;
}

#hd #hd-img {
	position: relative;
	display: block;
	height: 112px;
}

#hd #logo {
	float: left;
	display: block;
	position: absolute;
	top: 0;
	z-index: 1;
}

#hd #titre {
	position: absolute;
	left: 170px;
	top: 30px;
}

#hd #menu {
	width: 972px;
	background-color: white;
	position: relative;
	display: block;
	text-align: center;
	border: 1px solid silver;
	line-height: 1.7;
	top: -15px;
}

#hd #menu ul li {
	display: inline;
	text-align: center;
	margin-right: 10px;
	border-right: 1px solid silver;
	padding-right: 10px;
	font-weight: bold;
	font-size: 0.9em;
}

#hd #menu ul li a:hover {
	color: #be2956;
	border-bottom: 2px solid #ec366d;
}

#hd #menu ul li a {
	text-decoration: none;
	color: #135774;
}



/* @end */

/* @group Body */

div#flash {
	font-size: 1.2em;
	color: yellow;
	background-color: #504eba;
	display: inline;
	padding: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid orange;
}

div#bd {
	background-color: white;
	border: 1px solid silver;
	padding: 10px;
}

h1.accroche {
	color: #0083c9;
	font-size: 1.5em;
	text-align: center;
}

p {
	margin-top: 10px;
}

p.image {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

p.image img {
	border: 2px solid yellow;
}

p.annonce {
	height: 50px;
	display: block;
	background-color: #cedfff;
	text-align: center;
	line-height: 45px;
	font-weight: bold;
	color: black;
}

p.article_photo {
	float: left;
	margin-right: 10px;
}

p.invitation {
	font-size: 1.1em;
	font-weight: bold;
	color: #ec366d;
}

p.button {
	text-align: left;
}

p.en-tete {
	font-weight: bold;
	margin-bottom: 10px;
	color: #875873;
	text-decoration: underline;
}

div.yui-g {
	margin-bottom: 10px;
}

h3 {
	display: block;
	text-align: left;
	color: white;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	text-indent: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 15em;
}

h3.red {
	background-color: #e41b5b;
}

h3.green {
	background-color: #01ad4e;
}

h3.menuadmin {
	width: 10em;
	background-color: #171717;
	text-indent: 5px;
}

h3.admin_newsletter {
	color: #788e9d;
	text-decoration: underline;
	text-align: left;
	text-indent: 0;
	font-size: 0.9em;
}

p.login {
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
}

p.login.colored {
	color: red;
	background-color: #e0f2fe;
	padding: 2px;
	border: 1px solid navy;
}

div.yui-b.sidebar p {
	text-align: center;
	margin-bottom: 10px;
}

div.yui-b.sidebar form {
	text-align: center;
	margin-bottom: 10px;
	border-bottom: 1px solid silver;
}

div.yui-b.sidebar form label,input {
	margin-bottom: 10px;
	color: #0083c9;
}

div.yui-b.sidebar a.unsubscribe {
	font-size: 0.85em;
	color: #363636;
}

table {
	width: 100%;
}

table tr td {
	padding: 2px;
	vertical-align: top;
}

table label {
	font-weight: bold;
	color: #104687;
}

li {
	list-style-position: inside;
	text-indent: 20px;
}

pre {
	font-size: 0.8em;
}

a.button_link {
	font-size: 0.8em;
	background-color: #00a57e;
	color: white;
	height: 1.8em;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: none;
	line-height: 1.8em;
	border: 1px double #6c6c6c;
}

a.button_link:hover {
	background-color: #92a2ff;
}

a.button_link2 {
	font-size: 0.7em;
	background-color: maroon;
	color: white;
	height: 1.5em;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: none;
	border: 1px double #6c6c6c;
	margin-top: 2px;
	margin-bottom: 5px;
	line-height: 1.5em;
	text-align: center;
}

a.button_link2:hover {
	background-color: #92a2ff;
}

a.big_button {
	background-color: #f5ed63;
	color: #555;
	height: 1.8em;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	line-height: 1.8em;
	border: 1px dotted gray;
	font-size: 1.1em;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}

a.big_button:hover {
	background-color: #00b760;
	color: white;
}

a.liste_lien {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: #5d4421;
}

div.comment {
	border-left: 5px solid #aecfe5;
	margin-bottom: 15px;
	margin-top: 10px;
	padding-left: 5px;
	border-bottom: 1px solid #e3d6e5;
}

span.nom_membre {
	color: #214a84;
	font-weight: bold;
	font-size: 1em;
}

span.coor_membre {
	font-size: 0.9em;
	color: black;
}



/* @end */

div#ft {
	background-color: #027abb;
	color: white;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}

div#ft a {
	color: yellow;
	text-decoration: none;
}

div#ft a:hover {
	color: lime;
	text-decoration: none;
}