<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1 class="accroche">Modification Candidature</h1>
        </div>
        
        <div class="yui-g">
            <% form_for(@candidature) do |f| %>
              <%= f.error_messages %>

              <%= render :partial => 'form', :locals => {:f => f} %>

            <% end %>
            
            <% if admin? %>
                <%= link_to "Voir", @candidature %>
                <%= link_to 'Retour', candidatures_path %>
            <% end %>
        </div>
    </div>
</div>