<h3 class="green">Conseils d'édition</h3>
<p>
    Utilisez les astuces suivantes et/ou les buttons de mises en forme disponible pour mettre en forme votre texte dans les champ Theme, Description ou Objet :
</p>
<p>&nbsp;</p>
<table>
    <tr>
        <td>ligne vide</td>
        <td>sépare les paragraphes</td>
    </tr>
    <tr>
        <td>_italique_</td>
        <td><i>italique</i></td>
    </tr>
    <tr>
        <td>*gras*</td>
        <td><b>gras</b></td>
    </tr>
    <tr>
        <td>"Lien":http://www.adresselien.com</td>
        <td><a href="">Lien</a></td>
    </tr>
    <tr>
        <td>* element</td>
        <td>element liste</td>
    </tr>
    <tr>
        <td># element liste</td>
        <td>1. element liste</td>
    </tr>
    <tr>
        <td># element liste</td>
        <td>2. element liste</td>
    </tr>
</table>