<div>
    <p class="login"><%= link_to(image_tag("Logo-DDJS.gif"), "http://www.dd-guadeloupe.jeunesse-sports.gouv.fr") %></p>
    <p class="login"><%= link_to(image_tag("Logo-CNAJEP.png"), "http://www.cnajep.asso.fr") %></p>
</div>