<p class="login">
    Accès réservé
</p>
<%- form_tag session_path do -%>
    <label>Identifiant :</label><br/>
    <%= text_field_tag 'login', '', :size => 14 %><br/>
    <label>Mot de passe :</label><br/>
    <%= password_field_tag 'password', '', :size => 14 %><br/>
    <%= submit_tag 'Connexion' %>
<%- end -%>