<p class="login">
    Newsletter
</p>

<%- form_for :abonne, Abonne.new, do |f| -%>
    <label>Votre email :</label><br/>
    <%= f.text_field :email, :size => 20 %><br/>
    <%= submit_tag "S'inscrire" %><br/>
    <%= link_to "Se désinscrire", "", :class => "unsubscribe" %><br/><br/>
<%- end -%>