<p>
    Newsletter
</p>
<%- form_tag '' do -%>
    <label>Votre email :</label><br/>
    <%= text_field_tag 'email', "", :size => 14 %><br/>
    <%= submit_tag "S'inscrire" %><br/>
    <%= link_to "Désinscription", "", :class => "unsubscribe" %><br/><br/>
<%- end -%>