    <div id="yui-main">
        
        <div class="yui-b">
                                    
            <div class="yui-g">    
                <h1 class="accroche">Contacts</h1>
            </div>
                
            <div class="yui-g">
                <p>
                    Comité Régional des Associations de Jeunesse et d'Éducation Populaire
                </p>

                <p>
                    Siège Social : CRAJEP/CEMEA<br/>
                    BP 25<br/>
                    97157 POINTE A PITRE CEDEX<br/>
                    Téléphone / fax : 0590 82 20 67 <br/>
                    E-mail : crajep971@orange.fr
                </p>
            
                <p>
                    Personnes ressources du CRAJEP Guadeloupe
                    
                    <ul>
                        <li>Mathieu GALVANI  (ADPEP)       	0690 64 15 55</li>
                        <li>André DUPLESSIS (CEMEA)         0690 73 46 49</li>
                        <li>Eric  NAIGRE (MJCA)             0690 35 04 44</li>
                        <li>Françoise REDON (AGOUTI)        0690 76 15 67</li>
                        <li>Francelise DAVID-ALIDOR (JPA) 	0690 55 97 68</li>
                        <li>Andréa CECE FAROUIL (ODCV)      0590 20 81 26</li>
                        <li>Bruno BENONY (Club 1901)        0690 30 06 72</li>
                    </ul>
                </p>
                
                <p>
                    Le CRAJEP est un organisme volontaire d’associations de Jeunesse et d’Education Populaire, dont l’objet est : 
                    l’expression et l’action communes au niveau régional d’une politique globale de l’Enfance, de la Jeunesse et de l’Education Populaire ; 
                    La représentation, l’organisation, la défense et le soutien des intérêts communs en matière de relations départementales et régionales

                    Le CRAJEP Guadeloupe est membre associé du CNAJEP
                </p>
             </div>

            
        </div>

    </div>
    
    <div class="yui-b sidebar">
        <p><b>Utilisateur Test</b></p>
        <p>Identifiant : "beta"</p>
        <p>Mot de Passe : "betabeta"</p>
    </div>
</div>