<div id="yui-main">
    
    <div class="yui-b">
                                
        <div class="yui-g">    
        <h1 class="accroche">Présentation</h1>
        </div>
        
        <div class="yui-g">
            <script type="text/javascript" src="bzLoader.js"></script><noscript><p style="background-color:#ffffff;color:#000000;padding:1em;">Votre navigateur ne supporte pas JavaScript ou vous avez désactivé JavaScript.</p></noscript><div id="SWBZE68A893E137F4B2B8388"></div><div id="LKBZE68A893E137F4B2B8388"></div>
        </div>
            
        <div class="yui-g">
        <p>
            Le CRAJEP est un organisme de coordination volontaire d'Associations, d'Unions, de Fédérations et de Mouvements locaux de Jeunesse et d'Education Populaire, dont l'objet est l'expression et l'action communes au niveau régional d'une politique globale de l'Enfance, de la Jeunesse et de l'Education Populaire. Il est créé dans ses buts comme dans son fonctionnement pour la représentation, l’organisation, la défense et le soutien des intérêts communs en matière de relations départementales et régionales.
        </p>

        <p>
            Pour la réalisation de son objet social, le CRAJEP s'attachera plus particulièrement à :
            <ul>
                <li>
                    revendiquer la reconnaissance du rôle des associations et de leurs militants bénévoles comme facteur de développement de la démocratie ;                    
                </li>
                <li>
                    agir pour défendre, renforcer, et promouvoir les conquêtes sociales déterminantes en matière d'Enfance, de Jeunesse et d'Education Populaire ;
                </li>
                <li>
                    prendre en compte et exprimer les préoccupations des enfants, des jeunes et des adultes ;
                </li>
                <li>
                    participer à toutes concertations visant à l'élaboration des décisions qui concernent ses champs de compétence ;
                </li>
                <li>
                    défendre ses positions et ses préoccupations auprès des instances internationales, qu'elles soient de type multilatéral ou bilatéral, intergouvernemental ou privé ;
                </li>
                <li>
                    lutter contre toute discrimination sexiste, sociale, raciale, religieuse et de nationalité ;
                </li>
                <li>
                    promouvoir la Paix, la laïcité, la solidarité et l'amitié entre les enfants et les jeunes de tous les peuples.
                </li>
            </ul>
        </p>
        
        <p>
            En outre, le CRAJEP admet, comme moyens d'action sur les plans administratif, financier et organique, tous ceux dont ses instances auront statutairement décidé la mise en œuvre.
            Toutefois, le CRAJEP s'interdit la gestion d'activités qui pourraient relever soit des pouvoirs publics, soit de l'un de ses membres.
        </p>
         </div>

        
    </div>

</div>

<div class="yui-b sidebar">
    <p><b>Utilisateur Test</b></p>
    <p>Identifiant : "beta"</p>
    <p>Mot de Passe : "betabeta"</p>
</div>
